@font-face {
    font-family: "Pudelinka";
    src: url("Fonts/pudelinka.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    padding: 10px 10px 10px 10px;
    font-family: sans-serif;
    color: #2c2c2c;
}

blockquote.q {
    color: #8B4513;
    border-left: 4px solid #8B0000;
    font-style: italic;
    background-color: #f5f5dc;
    padding: 10px;
    margin: 15px 0;
}

p.quote { 
    font-family: "Pudelinka", cursive;
    color: #8B0000;
    font-size: 1.2em;
    text-align: center;
}
